form {
  width: 700px;
}

.form_content {
  display: inline-block;
  width: 30%;
}

.form_content:nth-of-type(2) {
  margin-left: 25px;
  margin-right: 25px;
}

.form_content label {
  font-weight: bold;
}

.form_content input,
select {
  width: 100%;
  display: inline;
  border-radius: 5px;
  border: 1px solid rgb(147, 147, 147);
  height: 40px;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 0px 1px 20px -8px rgba(148, 142, 148, 1);
  -moz-box-shadow: 0px 1px 20px -8px rgba(148, 142, 148, 1);
  box-shadow: 0px 1px 20px -8px rgba(148, 142, 148, 1);
}

.form_error {
  border: 1px solid red;
  background-color: rgb(255, 173, 200);
}

.form_error_message {
  color: red;
  margin: 0;
  display: block;
  font-size: 12px;
}

.btn_section {
  text-align: right;
}

.btn_section button {
  margin: 30px 0 0 20px;
  background-color: dodgerblue;
  padding: 15px;
  border-radius: 5px;
  border: none;
  color: aliceblue;
  font-weight: bold;
  font-size: 16px;
}

.btn_section button:hover {
  background-color: rgb(21, 98, 175);
}

.btn_section button:disabled {
  background-color: rgb(135, 165, 193);
  cursor: not-allowed;
}
